body {
    text-align: left;
    margin: 10px;
    font-family: "Arial";
}

.about {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px grey;

    
}

.projects {
    background-color: yellow;
    padding: 10px;
}



.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

.preview-container {
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    display: inline-block; 
}

.screenshot {
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
}

.external-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
 
    padding: 10px;
 
    font-size: 1.5em;
    background-color: transparent;
    box-shadow: none;
}

.external-link:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
}
