body {
    text-align: left;
    margin: 10px;
    font-family: "Arial";
}

.about {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px grey;

    
}

.projects {
    background-color: yellow;
    padding: 10px;
}



.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

.preview-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}

.screenshot {
    max-width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.external-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: block;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}

.external-link:hover {
    background-color: #f5f5f5;
}

.external-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.external-link:hover {
    text-decoration: underline;
}

