body {
    text-align: left;
    margin: 10px;
    font-family: "Arial";
}

.about {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px grey;

    
}

.projects {
    background-color: yellow;
    padding: 10px;
}



.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

.preview-container {
    margin: 20px 0;
    text-align: center;
    display: inline-block; /* Ensuring it's only as wide as its content */
}

.screenshot {
    width: 33.33%;
    max-width: 100%;
    display: block;
    border: none; /* Remove any border around the image */
    margin: 0; /* Remove margins to avoid any space around the image */
}

.external-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block; /* Ensuring it's only as wide as its content */
    padding: 10px;
    font-size: 1.5em;
    background-color: transparent;
    border: none; /* Remove any border around the link */
    box-shadow: none; /* Remove any shadow that might appear */
    outline: none; /* Remove any outline that might appear */
}

.external-link:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
}

.external-link:focus {
    outline: none; /* Remove any outline when focused */
}
